replicaCount: 1

image:
  repository: python
  pullPolicy: IfNotPresent
  tag: "3-alpine"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}

securityContext:
   capabilities:
     drop:
     - ALL

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

aws:
  access_key_id: ""
  secret_access_key: ""
  aws_region: "us-east-1"

secret_name: "ecr-token"
cronjob_schedule: "0 */4 * * *"
serviceAccount:
  annotations: {}